@import "utils/variables";
@import "Composents/menu";
@import "Layout/header";
@import "Layout/logo";

.localisation{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background: #eaeaea;
}

.Fonctionnement{
    width: 375px;
    height: 440px;
    background: white;

    .title-fonct{
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
    }

    .bouton-menu{
        justify-content: space-between;
    }

    .buton1 .button2 .button3{
        width: 322;
    }
}

